<h1> Louez le poisson de vos rêves !</h1>

<ul>
  <% @poissons.each do |poisson| %>
    <div class="card-product">
      <img src="https://images.pexels.com/photos/7254512/pexels-photo-7254512.jpeg" />
      <div class="card-product-infos">
        <h2><%= poisson.name %></h2>
        <p><%= poisson.category %></p>
        <p><%= poisson.price %></p>
      </div>
    </div>
    <!-- index.html.erb -->
    <%= link_to 'View Poisson', poisson_path(poisson) %>
  <% end %>
</ul>
