<div>
  <h1><strong>Merci pour votre demande de réservation !</strong></h1><br>
  <h2><strong>Détails</strong></h2><br>

  <strong>Date de début: <%=  @location.begin_date %></strong> | <strong>Date de fin: <%=  @location.end_date %></strong>

  <h4><strong><%=  @location.poisson.name %></strong></h4>
  <h4>Pour contacter le proprétaire : <strong><%=  @location.poisson.user.email %></strong></h4>
</div>
